.contact-part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;

}

.kojak {
    padding: 15px 20px;
    background-color: #319966;
    color: white;
    margin-top: 20px;
}

.but-end {
    display: flex;
    justify-content: flex-end;
}

.ad-title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 30px;
    color: #319966;
}

.adrress-box {
    display: block;
}

.num {
    display: block;
    color: #626364;
    margin-bottom: 25px;
    text-decoration: none;
}

.addres {
    font-style: normal;
    margin-bottom: 25px;
    color: #626364;
    line-height: 1.8;
    max-width: 300px;
    width: 100%;
}

.border {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #626364;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mapik{
    max-width: 550px;
    width: 100%;
}

.icon-bxl-facebooksvg:before {
    content: "\e900";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-bxl-instagramsvg:before {
    content: "\e902";
}

.icon-phone:before {
    content: "\e942";
}

.icon-mail2:before {
    content: "\ea84";
    color: #319966;
}