.header-block{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 15px;
    height: 460px;
    background-attachment: fixed;
    overflow: hidden;
    background-size:cover;
    background-position: bottom;
    position: relative;
    color: white;
}
.main-menu{
    display: flex;
    gap: 15px;
    

}
.main-menu>li>a{
    color: white;
    font-size: 25px;
    
}
.main-menu>li>a:hover{text-decoration: underline solid 2px ;}
.log-s>h1>a{
    
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 5px;
    color: white;

}
.log-s>p{
    font-size: 1.1rem;
    font-weight: 400;
    margin-left:50px;
}